<?xml version="1.0" encoding="utf-16"?>
<NaniteSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ConstructionEnabled>true</ConstructionEnabled>
  <ConstructionMaxStreams>15</ConstructionMaxStreams>
  <ConstructionEfficiency>0.5</ConstructionEfficiency>
  <ConstructionPowerPerStream>26</ConstructionPowerPerStream>
  <ConstructionMinTravelTime>16</ConstructionMinTravelTime>
  <ConstructionDistanceDivisor>5</ConstructionDistanceDivisor>
  <ConstructionNanitesPerUpgrade>3</ConstructionNanitesPerUpgrade>
  <ConstructionNanitesNoUpgrade>3</ConstructionNanitesNoUpgrade>
  <ConstructionMaxBeaconDistance>800</ConstructionMaxBeaconDistance>
  <ProjectionEnabled>true</ProjectionEnabled>
  <ProjectionMaxStreams>15</ProjectionMaxStreams>
  <ProjectionPowerPerStream>26</ProjectionPowerPerStream>
  <ProjectionMinTravelTime>16</ProjectionMinTravelTime>
  <ProjectionDistanceDivisor>5</ProjectionDistanceDivisor>
  <ProjectionNanitesPerUpgrade>3</ProjectionNanitesPerUpgrade>
  <ProjectionNanitesNoUpgrade>1</ProjectionNanitesNoUpgrade>
  <ProjectionMaxBeaconDistance>800</ProjectionMaxBeaconDistance>
  <CleanupEnabled>true</CleanupEnabled>
  <CleanupMaxStreams>15</CleanupMaxStreams>
  <CleanupCarryVolume>2.5</CleanupCarryVolume>
  <CleanupMaxDistance>800</CleanupMaxDistance>
  <CleanupPowerPerStream>26</CleanupPowerPerStream>
  <CleanupMinTravelTime>14</CleanupMinTravelTime>
  <CleanupDistanceDivisor>15</CleanupDistanceDivisor>
  <CleanupNanitesPerUpgrade>3</CleanupNanitesPerUpgrade>
  <CleanupNanitesNoUpgrade>1</CleanupNanitesNoUpgrade>
  <DeconstructionEnabled>true</DeconstructionEnabled>
  <DeconstructionMaxStreams>15</DeconstructionMaxStreams>
  <DeconstructionMaxDistance>800</DeconstructionMaxDistance>
  <DeconstructionEfficiency>0.5</DeconstructionEfficiency>
  <DeconstructionPowerPerStream>26</DeconstructionPowerPerStream>
  <DeconstructionMinTravelTime>16</DeconstructionMinTravelTime>
  <DeconstructionDistanceDivisor>5</DeconstructionDistanceDivisor>
  <DeconstructionPerformanceFriendly>true</DeconstructionPerformanceFriendly>
  <DeconstructionNanitesPerUpgrade>3</DeconstructionNanitesPerUpgrade>
  <DeconstructionNanitesNoUpgrade>1</DeconstructionNanitesNoUpgrade>
  <MiningEnabled>true</MiningEnabled>
  <MiningMaxStreams>15</MiningMaxStreams>
  <MiningMaxDistance>1000</MiningMaxDistance>
  <MiningPowerPerStream>26</MiningPowerPerStream>
  <MiningMinTravelTime>25</MiningMinTravelTime>
  <MiningDistanceDivisor>15</MiningDistanceDivisor>
  <MiningNanitesPerUpgrade>3</MiningNanitesPerUpgrade>
  <MiningNanitesNoUpgrade>1</MiningNanitesNoUpgrade>
  <MiningRadius>0</MiningRadius>
  <MiningDepth>0</MiningDepth>
  <LifeSupportEnabled>true</LifeSupportEnabled>
  <LifeSupportMaxStreams>15</LifeSupportMaxStreams>
  <LifeSupportMaxDistance>800</LifeSupportMaxDistance>
  <LifeSupportPowerPerStream>26</LifeSupportPowerPerStream>
  <LifeSupportMinTravelTime>16</LifeSupportMinTravelTime>
  <LifeSupportDistanceDivisor>5</LifeSupportDistanceDivisor>
  <LifeSupportNanitesPerUpgrade>3</LifeSupportNanitesPerUpgrade>
  <LifeSupportNanitesNoUpgrade>1</LifeSupportNanitesNoUpgrade>
  <LifeSupportSecondsPerTick>1</LifeSupportSecondsPerTick>
  <LifeSupportHealthPerTick>5</LifeSupportHealthPerTick>
  <AreaBeaconMaxSize>200</AreaBeaconMaxSize>
  <AreaBeaconMinSize>10</AreaBeaconMinSize>
  <SpeedIncreasePerUpgrade>5</SpeedIncreasePerUpgrade>
  <MinTravelTimeReductionPerUpgrade>1</MinTravelTimeReductionPerUpgrade>
  <PowerDecreasePerUpgrade>2</PowerDecreasePerUpgrade>
  <FactoryComponentMultiplier>1</FactoryComponentMultiplier>
  <UpgradeComponentMultiplier>1</UpgradeComponentMultiplier>
  <OreDetectorPowerMultiplicator>1</OreDetectorPowerMultiplicator>
  <DebugLogging>0</DebugLogging>
  <MasterSlaveDistance>300</MasterSlaveDistance>
  <OreDetectorToNaniteFactoryCommunicationDistance>500</OreDetectorToNaniteFactoryCommunicationDistance>
  <OreDetectorRangePerUpgrade>50</OreDetectorRangePerUpgrade>
  <OreDetectorPowerIncreasePerRangeUpgrade>0.125</OreDetectorPowerIncreasePerRangeUpgrade>
  <OreDetectorPowerIncreasePerFilterUpgrade>0.1</OreDetectorPowerIncreasePerFilterUpgrade>
  <OreDetectorPowerPercentIncreasedPerScanningUpgrade>1</OreDetectorPowerPercentIncreasedPerScanningUpgrade>
  <OreDetectorPowerPercentReducedPerEfficiencyUpgrade>0.1</OreDetectorPowerPercentReducedPerEfficiencyUpgrade>
  <AreaBeaconMaxDistanceFromNaniteFacility>800</AreaBeaconMaxDistanceFromNaniteFacility>
  <BlocksScannedPerSecond>500</BlocksScannedPerSecond>
  <MiningTargetsScannedPerSecond>100</MiningTargetsScannedPerSecond>
  <OreDetectorScanningSpeed>10</OreDetectorScanningSpeed>
  <LifeSupportOxygenPerTick>0.05</LifeSupportOxygenPerTick>
  <LifeSupportHydrogenPerTick>0.05</LifeSupportHydrogenPerTick>
  <LifeSupportOxygenRefillLevel>0.5</LifeSupportOxygenRefillLevel>
  <LifeSupportHydrogenRefillLevel>0.5</LifeSupportHydrogenRefillLevel>
  <LifeSupportEnergyRefillLevel>0.5</LifeSupportEnergyRefillLevel>
  <LifeSupportEnergyPerTick>0.05</LifeSupportEnergyPerTick>
  <Version>2.0</Version>
</NaniteSettings>